fail_fast: true
repos:
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: ['--check', '--skip-string-normalization']
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint ./sessao_zero
        language: system
        types: [python]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 0.9.1
    hooks:
      - id: sqlfluff-lint
      - id: sqlfluff-fix
